@font-face {
    font-family: "SnowyFont";
    src: url("../../data/fonts/Snowy Christmas.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.SnowyFont {
    font-family: SnowyFont;
    font-size: 15pt;
}

@font-face {
    font-family: "Christmas Font";
    src: url("../../data/fonts/Christmas Math - Demo.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

.ChristmasFont {
    font-family: Christmas Font;
    font-size: 12pt;
}

.InterFont {
    font-family: Inter;
}
