
.invite{
    position: absolute;
    width: 70vw; height: 50vh;
    background-image: linear-gradient(to top left, rgb(5, 6, 14), rgb(12, 14, 26), rgb(22, 24, 39));
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    border: 1px solid rgba(255, 255, 255, 0.041);
    padding: 2rem;
    box-sizing: border-box;
}

.invite-img{
    width: 50%;
}

.invite h1{
    font-size: 25pt;
}